
<div class="content-wrapper px-4 py-2">

  <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

  <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" data-toggle="datetimepicker"/>
                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row" id="booking_table">
    <%= render partial: "booking_table", locals: { reservations: @reservations } %>
  </div>

</div>

<script type="text/javascript">
  $(function () {
    let today = moment(new Date(), "DD/MM/YYYY");
    $('#datetimepicker').datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: today,
    });
  });
  $('#datetimepicker').on("change.datetimepicker", function(e) {
    let date = $(".datetimepicker-input").val()
    console.log(date)
    $.ajax({
      url: "/",
      method: 'GET',
      dataType: 'script',
      data: { date: date },
    })
    .done(function (ret) {
    })
  });
</script>
